# App configuration
HOST_URL=http://localhost
NODE_ENV=development
PORT=3000
TZ=Europe/Paris

# Database configuration
# Mongo Compass uri: mongodb+srv://username:password@mongodb.host.com/databaseName?retryWrites=true&w=majority
MONGODB_HOST=localhost
MONGODB_DATABASE=your-database-name
MONGODB_PASSWORD=yourPassword
MONGODB_PORT=27017
MONGODB_USERNAME=yourUsername
MONGO_INITDB_ROOT_PASSWORD=yourRootPassword
MONGO_INITDB_ROOT_USERNAME=rootUsername
MONGODB_PROTOCOL="mongodb"

# Session configuration
SESSION_NAME=sid
SESSION_SECRET=pleasekeepthissecret

# JWT configuration
JWT_SECRET=yourjwtsecretkey

# EMAIL Configuration
EMAIL_FROM=from@gmail.com
EMAIL_HOST=smtp.ethereal.email
EMAIL_PORT=587
EMAIL_USER=user@ethereal.email
EMAIL_PASSWORD=password
